{% extends 'base_navbar.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'movies/moviestyle.css' %}">
    {% for thing in object_list %}
            <ul>
            <li class="title">Movie Title: {{ thing.title}}</li>
            <li class="other">Genre: {{ thing.genre}}</li>
            <li class="other"> Rating (%): {{ thing.rating}}%</li>
            <li class="other">Director: {{ thing.director}}</li>
            </ul>
            <hr>
        {% endfor %}
   <div style="text-align: center"><button onclick="window.location.href = '/movies/new';">Click Here to Add a Movie!</button></div>
{% endblock content %}